.align {
	float:right;
	display: block;
	margin-right:0px;
	margin-top: 50px;
	clear:left;
}

.adjust {
	top: 0;
	position: fixed;
	padding-top: 30px;
	padding-left: 420px;
	width:600px;
    height:400px;
}

.tarea {
	padding-left: 40px;
	padding-right: 30px;
	padding-top: 30px;
}

.heading{
	padding-left: 50px;
	padding-top: 30px;
}